body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    box-shadow: 0 -10px 35px grey;
    height: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.955);
    align-items: center;
}
nav h2 img {
    width: 50px;
    height: 50px;
}
nav h2{
    cursor: pointer;
    font-size: 35px;
    display: flex;
    padding-left: 40px;
}
nav h2 div {
    padding-top: 5px;
}
#info, h2 {
    padding-right: 20px;
    padding-top: 15px;
    font-weight: bold;
}
#info {
    display: flex;
    margin: 10px;
    margin-left: 50px;
}
#nav {
    display: flex;
    list-style: none;
}
#nav li {
    cursor: pointer;
    padding: 10px;
}
#searchBar {
    margin-top: 20px;
    margin-left: 100px; 
    display: flex;
}
#bar {
    width: 500px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
}
#go {
    font-size: 10px;
    background-color: white;
    height: 3%;
    position: absolute;
    top: 6.%;
    left: 54.6%;
    border-radius: 20px;
}